extends layout

block content
    .container
        .section1
          img(src="/images/slider_1.png", alt="Image", class="rounded-image")
        .section2
          .title
            .text-container
              h2 HÀNG BÁN CHẠY
              h4 Khám phá các sản phẩm bán chạy
            button.buy-right(class="btn-buy") Mua ngay
          .row1
            button.previous &lt;
            .products
              each product, index in products.slice(0, 5)
                .product
                  img(src=product.image, alt=product.name)
                  .info
                    p.type #{product.type}
                    p.name #{product.name}
                    .price-cart
                      span #{product.price} VND
                      button.add-to-cart(onclick=`addToCart('${product._id}')`)
                        i.fa.fa-bag-shopping
                    p.count Số lượng đã bán: 0
            button.next &gt;
        .section3
          .row3
            .container
              .food-item
                img(src="/images/kimchi.png", alt="Kim Chi", class="rounded-image")
                .overlay
                  p.title Kim chi
                  button.buy-now(class="btn-buy") Mua sắm ngay
              .food-item
                img(src="/images/mihanquoc.png", alt="Mì Hàn Quốc", class="rounded-image")
                .overlay
                  p.title Mì Hàn Quốc
                  button.buy-now(class="btn-buy") Mua sắm ngay
              .food-item
                img(src="/images/rongbien.png", alt="Rong biển", class="rounded-image")
                .overlay
                  p.title Rong biển
                  button.buy-now(class="btn-buy") Mua sắm ngay
              .food-item
                img(src="/images/ruouhanquoc.png", alt="Rượu Hàn Quốc", class="rounded-image")
                .overlay
                  p.title Rượu Hàn Quốc
                  button.buy-now(class="btn-buy") Mua sắm ngay 
        .section4
          h2 XIN CHÀO KOREA MART 
        .section5
          .header
            .left
              h4 Đồ uống các loại
            .right.navbar
              ul
                li
                  a(href="/") Trang chủ
                li
                  a(href="/products") Tất cả sản phẩm
                li
                  a(href="/stores") Hệ thống cửa hàng
                li
                  a(href="/about") Giới thiệu
                li
                  a(href="/all") Xem tất cả
          .row5
            .products-container
              .products
                img(src="/images/wolf_module_product_banner_3.png", alt="Rong biển", class="rounded-image")
                each product, index in [products[0], ...products.slice(1, 4)]
                  .product
                    img(src=product.image, alt=product.name)
                    .info
                      p.type #{product.type}
                      p.name #{product.name}
                      .price-cart
                        span #{product.price} VND
                        button.add-to-cart(onclick=`addToCart('${product._id}')`) 
                          i.fa.fa-bag-shopping
        .section6
          .row6
            .left
              img(src="/images/wolf_banner_small.png", alt="Hồng Sâm", class="rounded-image") 
            .right
              .title-section
                h2 Các Loại Hồng Sâm
                .line
                  .filled(style="width: 25%; height: 2px; background-color: #D2691E;")
                  .empty(style="width: 75%; height: 2px; background-color: #e0e0e0;")
              .content-box(style="background-color: #FFF3CD; padding: 5px; border-radius: 8px; margin-top: 0px;")
                p.bold-text(style="font-weight: bold;") Các Loại Hồng Sâm! Đang được cập nhật nội dung... 
        .section7
          .row7
            .image-container
              img(src="/images/feature_banner_1.png", alt="Image 1", class="image")
            .image-container
              img(src="/images/feature_banner_2.png", alt="Image 2", class="image")
        .section8
